@import '@/styles/variables.module.scss';

.tag {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px 5px 19px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;

  font-size: 12px;
  line-height: 12px;
  font-weight: 500;

  background-color: $bg-block;
  color: $font-main;

  &:before {
    position: absolute;
    left: 8px;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: $bradius-circle;
    transition: 0.3s;

    background-color: rgba(59, 173, 227, 0.6);
  }

  &:hover {
    color: $font-hover;
    background-color: $bg-container;

    &:before {
      background-color: rgba(59, 173, 227, 1);
    }
  }

  &.isActive {
    color: $font-active;
    background-color: $bg-container;

    &:before {
      background-color: rgba(59, 173, 227, 1);
    }
  }
}
