@import '@/styles/variables.module.scss';

.aboutme_section {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  max-width: $section-maxwidth;
}

.aboutme_section__effect {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-70%, 60%) scale(0.8);
}

.aboutme_section__container {
  z-index: 10;
  column-gap: 30px;

  .aboutme_section__left_side {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 50%;

    .aboutme_section__resume {
      display: flex;
      flex-direction: column;

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;

        color: white;
      }
    }

    .aboutme_section__hobbies {
      display: flex;
      flex-direction: column;

      .hobbies__wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 6px;
        row-gap: 8px;
      }
    }
  }

  .aboutme_section__right_side {
    display: flex;
    flex-direction: column;
    width: 50%;

    .aboutme_section__infos {
      display: flex;
      flex-direction: column;

      .infos__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: $spacing-medium;
        border-radius: $bradius-item;

        background-color: $bg-container;

        .infos__credentials {
          display: flex;
          flex-direction: column;
          row-gap: 6px;
        }

        .infos__social_medias {
          display: flex;
          column-gap: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 780px) {
  .aboutme_section__container {
    row-gap: 30px;

    .aboutme_section__left_side {
      width: 100%;
    }

    .aboutme_section__right_side {
      width: 100%;

      .aboutme_section__infos {
        .infos__wrapper {
          .infos__social_medias {
            flex-direction: column;
            row-gap: 6px;
          }
        }
      }
    }
  }
}
