@import '@/styles/variables.module.scss';

.button {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 35px;
  width: fit-content;
  border-radius: 100px;
  overflow: hidden;
  padding: 0 15px;
  cursor: pointer;

  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 400;

  color: white;

  &:after {
    position: absolute;
    content: '';
    display: inline-block;
    background: rgba(59, 173, 227, 1);
    background: $main-degrade;
    height: 35px;
    width: 400%;
    z-index: -1;
    transform: translateX(-280px);
    transition: transform 400ms ease-in;
  }

  &:hover {
    &:after {
      transform: translateX(-200px);
    }
  }

  // span {
  //   position: relative;
  //   top: 16px;
  // }
}
