@import '@/styles/variables.module.scss';

// ===================================================================

.slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 40px);

  margin-bottom: 40px;
  padding: 10px;
  border-radius: 6px;

  background-color: $font-main;

  &:hover {
    & .slide__project_title {
      bottom: 5px !important;
    }
  }

  .slide__image {
    position: relative;
    display: flex;
    width: 100%;
    // height: calc(100% - 50px);
    flex: 1;
    border-radius: 6px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slide__project_title {
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: -100%;
      width: fit-content;
      height: fit-content;
      margin: 0 5px;
      padding: 6px 8px;
      border-radius: 6px;
      transition: 0.3s ease-in-out;
      opacity: 1;

      font-size: 15px;
      line-height: 15px;
      font-weight: 400;
      letter-spacing: 0.5px;

      background-color: blue;

      &.isActive {
        opacity: 0;
      }
    }

    .slide__project_details {
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: -100%;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      padding: 12px;
      border-radius: 6px 6px 0 0;
      transition: 0.4s ease-in-out;

      background-color: white;

      &.isActive {
        bottom: 0px;
      }

      .project_details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 22px;

        .project_details__title {
          width: 100%;
          margin-bottom: 8px;

          font-size: 15px;
          line-height: 15px;
          font-weight: 500;

          b {
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        .project_details__description {
          width: 100%;

          font-size: 15px;
          line-height: 16px;
          font-weight: 300;
          letter-spacing: 0.5px;
          text-align: justify;

          b {
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }

      .slide__project_details__tech {
        display: flex;
        flex-direction: column;
        width: 100%;

        p {
          margin-bottom: 10px;

          font-size: 15px;
          line-height: 15px;
          font-weight: 400;
          text-transform: uppercase;
        }

        span {
          display: flex;
          flex-wrap: wrap;
          column-gap: 5px;
          row-gap: 5px;
        }
      }
    }
  }

  .slide__settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;

    .slide__settings__image_preview {
      display: flex;
      flex-wrap: wrap;
      width: 40%;
      height: 100%;
      column-gap: 3px;
      row-gap: 3px;

      .image_preview {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 4px 5px; */
        /* margin-right: 4px; */
        width: calc((100% / 4) - 3px);
        height: auto;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2s;

        font-size: 15px;
        line-height: 15px;
        font-weight: 300;

        border: 1px solid white;
        background-color: transparent;

        &.isActive {
          background-color: white;
        }

        &:last-of-type {
          margin-right: 0px;
        }

        &:hover {
          background-color: black;
        }
      }
    }

    .slide__settings__details {
      display: flex;
      justify-content: flex-end;
      column-gap: 6px;

      width: 60%;
    }
  }
}

// ===================================================================
