@import '@/styles/variables.module.scss';

.post_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  padding: 25px;
  border-radius: $bradius-container;

  background-color: $bg-block;

  .post_content__quill {
    color: $font-active !important;

    div {
      border: none !important;
    }

    .ql-editor {
      padding: 0 !important;
    }
  }
}
