@import '@/styles/variables.module.scss';

// ===================================================================

.infos_card {
  display: flex;
  padding: $spacing-small;
  border-radius: $bradius-item;

  background-color: $bg-main;

  .infos_card__image {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .infos_card__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 67px);

    color: white;

    h3 {
      margin-bottom: 7px;

      font-size: 15px;
      line-height: 15px;
      font-weight: 500;

      b {
        font-weight: 300;
      }
    }

    p {
      display: flex;

      font-size: 12px;
      line-height: 12px;
      font-weight: 300;
    }
  }
}

// ===================================================================

.credential_card {
  display: flex;
  justify-content: space-between;
  padding: 11px 15px;
  border-radius: $bradius-item;
  cursor: pointer;
  transition: 0.3s;

  background-color: $bg-main;
  color: white;

  b,
  p {
    font-size: 13px;
    line-height: 14px;
  }

  b {
    font-weight: 400;
  }

  p {
    font-weight: 200;
    letter-spacing: 0.5px;
  }

  &:hover {
    background-color: $bg-container-active;
  }
}

// ===================================================================

.media_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 8px;
  border-radius: $bradius-item;
  cursor: pointer;
  transition: 0.3s;

  background-color: $bg-main;

  &:hover {
    background-color: $bg-container-active;

    svg {
      transition: all 0.5s ease-out;
      transform: rotateY(360deg);
    }
  }

  .media_card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 6px;
    border-radius: 100%;

    background-color: $bg-block;
    color: white;

    svg {
      font-size: 16px;
      transition: 0.5s;
    }
  }

  .media_card__label {
    flex: 1;

    font-size: 12px;
    line-height: 12px;
    font-weight: 300;

    color: white;
  }
}
