// ======================================

$responsive-ultrawide: 1400px;
$responsive-desktop: 1000px;
$responsive-tablet: 760px;
$responsive-mobile: 480px;

// ======================================

$bradius-container: 12px;
$bradius-item: 6px;
$bradius-circle: 100%;

// ======================================

$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;

$padding-side: 15px;

// ======================================

$bg-main: #222429;
$bg-block: #3e444e;
$bg-container: #323740;
$bg-container-active: #2e3138;
$bg-container-hover: #2e313877;

$bg-modal: #181b1fbc;

// ======================================

$font-main: rgba(255, 255, 255, 0.85);
$font-secondary: rgba(255, 255, 255, 0.6);
$font-active: rgba(255, 255, 255, 0.9);
$font-hover: rgba(255, 255, 255, 1);

// ======================================

$menu-active: #00ebeb;
$notification-alert: orangered;

$tag-green-bg: rgba(34, 150, 45, 0.2);
$tag-green-border: #22962d;

$link: #18d22a;
$link-disabled: #18d22b8c;

$auth-button: #22962d;
$auth-button-hover: #22962edf;
$auth-button-disabled: #22962e87;

// ======================================

$header-height: 60px;
// $menu-width: 220px;
// $view-header-height: 40px;

// $header-input-size: 32px;

// ======================================
