@import '@/styles/variables.module.scss';

.blog_page__wrapper {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: $header-height 0;
}

.blog_page__alert {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

  color: $font-main;

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 300;
  }

  &.inactive {
    display: none;
  }
}
