@import '@/styles/variables.module.scss';

.post_listing {
  display: flex;
  width: 100%;
  padding: 30px;
  border-radius: $bradius-container;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);

  .post_listing__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    width: 100%;
  }
}
