@import '@/styles/variables.module.scss';

.header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 0 $padding-side;

  background-color: $bg-main;
}

.header__logo {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: 0.2s ease-in-out;

  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: 1px;

  color: $font-active;

  b {
    cursor: pointer;
    transition: 0.3s;

    padding-right: 8px;
    margin-right: 8px;
    font-weight: 400;

    color: $font-active;
    border-right: 1px solid rgba(255, 255, 255, 0.8);

    &:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }
  }
}

.header__menu {
  display: flex;
  height: 100%;

  .header__navigation {
    display: flex;

    .header__navigation__link {
      display: flex;
      align-items: center;
      padding: 0 15px;
      cursor: pointer;
      transition: 0.2s;

      font-size: 14px;
      line-height: 14px;
      font-weight: 200;
      letter-spacing: 0.5px;

      border-left: 1px solid rgba(255, 255, 255, 0.15);
      border-bottom: 2px solid transparent;
      color: rgba(255, 255, 255, 0.7);

      &:hover {
        background-color: $bg-container-hover;
        border-bottom: 2px solid #3a4750;

        color: $font-hover;
      }
    }
  }

  .header__main_menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 100%;
    padding-left: $padding-side;

    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }
}
