@import '@/styles/variables.module.scss';

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $bg-main;

  color: white;
}
