@import '@/styles/variables.module.scss';

.thanks_section {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  max-width: $section-maxwidth;

  // border: 2px solid white;
}

.thanks_section__container {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;

  .thanks_section__header {
    margin-bottom: 10px;

    font-size: 26px;
    font-weight: 300;

    color: white;

    b {
      font-weight: 500;
    }
  }

  .thanks_section__legend {
    font-size: 15px;
    font-weight: 300;

    color: white;
  }

  .thanks_section__medias {
    display: flex;
    column-gap: 8px;
  }
}
