@import '@/styles/variables.module.scss';

.thanks_section {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  max-width: $section-maxwidth;

  border: 2px solid white;
}

.thanks_section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  width: 100%;
  padding: 30px;
  border-radius: $bradius-container;

  background-color: rgba(0, 0, 0, 0.4);

  .thanks_section__header {
    margin-bottom: 10px;

    font-size: 26px;
    font-weight: 300;

    color: white;

    b {
      font-weight: 500;
    }
  }

  .thanks_section__legend {
    font-size: 15px;
    font-weight: 300;

    color: white;
  }

  .thanks_section__medias {
    display: flex;
    column-gap: 8px;
  }
}
