@import '@/styles/variables.module.scss';

.search_input__container {
  display: flex;
  column-gap: 6px;

  .search_input__wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    column-gap: 6px;
    border-radius: $bradius-item;
    padding: 0 16px;

    background-color: $bg-block;

    svg {
      font-size: 18px;

      color: $font-main;
    }

    .search_input {
      width: fit-content;
      min-width: 280px;
      height: 100%;

      letter-spacing: 0.5px;
      font-size: 14px;
      font-weight: 300;

      color: $font-hover;
      background-color: transparent;
    }
  }

  .search_button {
    height: 40px;
    border-radius: $bradius-item;
    padding: 0 16px 1px 16px;
    cursor: pointer;
    transition: 0.3s;

    font-size: 13px;
    font-weight: 500;

    background-color: $bg-block;
    color: $font-secondary;

    &:hover {
      background-color: $bg-container;
      color: $font-active;
    }
  }
}
