@import '@/styles/variables.module.scss';

.search_input__container {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: $bradius-item;
  padding: 0 16px;

  background-color: $bg-block;

  svg {
    font-size: 20px;

    color: $font-main;
  }

  .search_input {
    width: fit-content;
    min-width: 280px;

    padding: 12px 0;

    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 300;

    color: $font-hover;
    background-color: transparent;
  }
}
