@import '@/styles/variables.module.scss';

.icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: $bradius-circle;
  pointer-events: initial;
  cursor: pointer;
  transition: 0.3s;

  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: $bg-container;
  color: $font-main;

  svg {
    font-size: 18px;
    transition: 0.5s;
  }

  &:hover {
    // background-color: ${Colors.button};
    border: 1px solid rgba(255, 255, 255, 0.8);

    svg {
      transition: all 0.5s ease-out;
      transform: rotateY(360deg);

      color: $font-hover;
    }
  }

  &.isInactive {
    pointer-events: none;
    cursor: default;
    background-color: gray;

    svg {
      color: lightgray;
    }
  }
}
