@import '@/styles/variables.module.scss';

.post_header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.post_header__return {
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 6px;
  padding: 7px 9px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;

  font-size: 12px;
  font-weight: 500;

  color: $font-secondary;
  background-color: $bg-block;

  svg {
    transition: 0.3s;
    font-size: 16px;

    color: $font-secondary;
  }

  &:hover {
    background-color: $bg-container;
    color: $font-hover;

    svg {
      color: $font-hover;
    }
  }
}

.post_header__wrapper {
  display: flex;
  column-gap: 15px;
  width: 100%;
  padding: 25px;
  border-radius: $bradius-container;

  background-color: $bg-main;

  .post_header__content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 70%;

    .post_header__title {
      transition: 0.3s;

      font-size: 15px;
      line-height: 16px;
      font-weight: 600;

      color: $font-active;
    }

    .post_header__legend {
      transition: 0.3s;

      font-size: 14px;
      line-height: 13px;
      font-weight: 300;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 16px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      color: $font-main;
    }

    .post_header__details {
      margin-top: 6px;
      padding-bottom: 1px;
      transition: 0.3s;

      font-size: 12px;
      line-height: 12px;
      font-weight: 300;

      color: $font-secondary;

      b {
        font-weight: 500;
      }
    }
  }

  .post_header__tags {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
    column-gap: 6px;
    row-gap: 8px;
  }

  &:hover {
    & .post_header__title,
    & .post_header__date {
      color: $font-active;
    }
  }
}
